<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.max_size">40</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property>
        <property name="hibernate.cache.region_prefix"></property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_structured_entries">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mysql_service</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <property name="hibernate.max_fetch_depth">1</property>
        <property name="hibernate.net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
        <property name="hibernate.proxool.pool_alias">pool1</property>
        <property name="hibernate.query.substitutions">yes 'Y', no 'N'</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.search.default.batch.max_buffered_docs">10</property>
        <property name="hibernate.search.default.batch.merge_factor">10</property>
        <property name="hibernate.search.default.indexBase">/opt/jboss-as-7.1.0.Final/standalone/deployments/ROOT.war/images/images1</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.webservices.entity.Account" />
        <mapping class="com.webservices.entity.Collection" />
        <mapping class="com.webservices.entity.UserRoleMapping" />
        <mapping class="com.webservices.entity.UserAccesstoken" />
        <mapping class="com.webservices.entity.MyService" />
        <mapping class="com.webservices.entity.ServiceImageMapping" />
        <mapping class="com.webservices.entity.Actions" />
        <mapping class="com.webservices.entity.ServiceCategory" />
        <mapping class="com.webservices.entity.UserServiceMapping" />
        <mapping class="com.webservices.entity.MemberDetails" />
        <mapping class="com.webservices.entity.UserRoles" />
        <mapping class="com.webservices.entity.Services" />
        <mapping class="com.webservices.entity.Users" />
        <mapping class="com.webservices.entity.Expense" />
        <mapping class="com.webservices.entity.Owner" />
    </session-factory>
</hibernate-configuration>
